@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.logo img {
    height: 80px;
    width: 132px;
    margin: 10px;
    margin-left: 40px;
    cursor: pointer;
}

.search{
    position: absolute;
    left: 16em;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 50px;
}

.search input {
    font-size: 16px;
    padding: 15px 75px;
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    outline: none;
}

.search ::placeholder {
    color: #565353;
    position: relative;
    right: 50px;
    font-size: 20px;
}

.search-icon {
    position: absolute;
    left: 26em;
    font-size: 1.3em;
    color: #565353;
    cursor: pointer;
}

.search-icon :hover {    
    color: #2068B2;
}

.nav_links{
    position: absolute;
    right: 19em;
    transition: all .3s ease-in-out;
}

.nav_links ul li :hover {    
    color: #2068B2;
}

.nav_links a {
    text-decoration: none;
    color:#000000;
    font-size: 20px;
}

.nav_links li{
    list-style-type: none;
    display: inline-block; 
    margin-right: 6.25em;
}

.fa-regular{

    font-size: 2.5em;
    color: #565353;
}
.profile{
    position: relative;
    right: 2.5em;
    cursor: pointer;
}

.profile :hover {
    color: #2068B2;
}

.sidebar{
    width: 15%;
    height: 100%;
    position: fixed;
    top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    height: 50%;
    align-items: center;
    justify-content: space-around;
}

.sidebar ul li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 105%;
    height: 3em;
    align-items: center;
    text-align: center;
    border: 1px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: all .3s ease-in-out;
}

.sidebar ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

.sidebar ul :hover {
    color: #2068B2;
}